# 1-dimensional continuous data BO test using BayBE

In [31]:
from baybe.targets import NumericalTarget
from baybe.objective import Objective

target = NumericalTarget(
    name="Yield",
    mode="MAX",
)
objective = Objective(mode="SINGLE", targets=[target])

In [32]:
from baybe.parameters import NumericalContinuousParameter

parameters = [
    NumericalContinuousParameter('schwefel1', bounds=(-500,500)),
]

In [75]:
import baybe.recommenders

dir(baybe.recommenders.pure.RandomRecommender)

['__abstractmethods__',
 '__annotations__',
 '__attrs_attrs__',
 '__attrs_own_setattr__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_is_protocol',
 '_is_runtime_protocol',
 '_recommend_continuous',
 '_recommend_discrete',
 '_recommend_hybrid',
 '_recommend_with_discrete_parts',
 'allow_recommending_already_measured',
 'allow_repeated_recommendations',
 'compatibility',
 'recommend']

In [86]:
from baybe.recommenders import (
    SequentialGreedyRecommender, 
    SequentialMetaRecommender, 
    RandomRecommender
)

recommender = RandomRecommender()#SequentialMetaRecommender([SequentialGreedyRecommender(), RandomRecommender()])

In [87]:
from baybe.searchspace import SearchSpace

searchspace = SearchSpace.from_product(parameters)

In [88]:
from baybe import Campaign

campaign = Campaign(searchspace, objective, recommender)

In [89]:
df = campaign.recommend(batch_size=3)
display(df)

    schwefel1
0  356.991347
1 -309.004730
2  -55.674007

In [91]:
from schwefel_functions import schwefel_1d

In [92]:
df['Yield'] = df['schwefel1'].apply(schwefel_1d)
df

    schwefel1       Yield
0  356.991347  403.045423
1 -309.004730  123.758482
2  -55.674007  470.423643

In [93]:
campaign.add_measurements(df)

In [95]:
campaign.recommend(batch_size=3)

    schwefel1
0 -428.432368
1 -347.173847
2  395.345514

In [ ]:
for iteration in range(5):